<br>
<br>
<ion-content class="ma" padding>
    <form [formGroup]="loginForm">
        <div class='login-screen'>
            <ion-row class="logo-row">
                <ion-col text-center>
                    <img style="max-height: 200px" src="assets/images/logo.png" />
                </ion-col>
            </ion-row>
            <br>
            <br>


            <div class="login-box">

                <ion-row>
                    <ion-col>
                        <ion-list>
                            <ion-input type="email" placeholder="Mail ID" formControlName="email">
                            </ion-input>
                            <div class="alert" *ngIf="loginForm.get('email').touched && loginForm.get('email').invalid">Email Required</div>

                            <ion-input type="password" placeholder="Password" formControlName="password">

                            </ion-input>
                            <div class="alert" *ngIf="loginForm.get('password').touched && loginForm.get('password').invalid">Password Required</div>
                        </ion-list>
                    </ion-col>
                </ion-row>

                <ion-row>
                    <ion-col align="center">
                        <ion-button (click)="onSignin()" expand="block">Login</ion-button>
                    </ion-col>
                </ion-row>


            </div>
        </div>
    </form>
</ion-content>