<ion-item class="mainstyle">
  <ion-label item-start color="light" class="textBoxLabel" color="dark">{{labelName}}</ion-label>
  <ion-icon item-end name="mic" *ngIf="!value && !loading" (click)="recordAudio()"></ion-icon>
  <span item-end>
              {{loading}}
          </span>
  <span item-end *ngIf="value && !loading">
    <ion-button color="primary" (click)="playAudio()">Play Audio</ion-button>
    <ion-button color="primary" (click)="recordAudio()">Record New Audio</ion-button>
          </span>
</ion-item>
