<ion-item (click)="getGeoLocation()" class="mainstyle">
    <ion-label color="light" color="dark">{{labelName}}</ion-label>
    <ion-label color="light" color="dark">{{value}}</ion-label>
    <ion-icon item-end name="pin"></ion-icon>
</ion-item>