<ion-item class="mainstyle">
  <ion-label color="light" color="dark">{{labelName}}</ion-label>
  <ion-datetime max={{dateOfToday}} displayFormat="MMM DD, YYYY HH:mm" [(ngModel)]='value' (ngModelChange)="onChangeObj($event)"></ion-datetime>
</ion-item>