<ion-item class="mainstyle">
  <ion-label color="light" color="dark">{{labelName}}</ion-label>
  <ion-select [(ngModel)]="value" (ngModelChange)="onChangeObj($event)">
      <ion-select-option  *ngFor="let x of values" [value]="x">{{x}}</ion-select-option >
  </ion-select>
</ion-item>