<!-- <ion-item class="mainstyle">
  <ion-label color="light" color="dark" >{{labelName}}</ion-label>
  <ion-input [(ngModel)]='value' (focusout)="onfocusOut()"></ion-input>
 
</ion-item> -->
<ion-item class="mainstyle">
    <ion-label color="dark">{{labelName}}</ion-label>
    <ion-input [(ngModel)]='value' (focusout)="onfocusOut()"></ion-input>
</ion-item>