    // App Styles
    // ----------------------------------------------------------------------------
    // Put style rules here that you want to apply to the entire application. These 
    // styles are for the entire app and not just one component. Additionally, this 
    // file can hold Sass mixins, functions, and placeholder classes to be imported 
    // and used throughout the application.
    ion-item {
        padding: 0%;
    }
    
    .info-text {
        color: #000000;
    }
    
    .spaceMargin {
        padding-left: 0%;
    }
    
    .sk-fading-circle {
        margin: 100px auto;
        width: 40px;
        height: 40px;
        position: relative;
        top: 30%;
    }
    
    .sk-fading-circle .sk-circle {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
    }
    
    .sk-fading-circle .sk-circle:before {
        content: '';
        display: block;
        margin: 0 auto;
        width: 15%;
        height: 15%;
        background-color: rgb(243, 243, 243);
        border-radius: 100%;
        animation: sk-circleFadeDelay 1.2s infinite ease-in-out both;
    }
    
    .sk-fading-circle .sk-circle2 {
        transform: rotate(30deg);
    }
    
    .sk-fading-circle .sk-circle3 {
        transform: rotate(60deg);
    }
    
    .sk-fading-circle .sk-circle4 {
        transform: rotate(90deg);
    }
    
    .sk-fading-circle .sk-circle5 {
        transform: rotate(120deg);
    }
    
    .sk-fading-circle .sk-circle6 {
        transform: rotate(150deg);
    }
    
    .sk-fading-circle .sk-circle7 {
        transform: rotate(180deg);
    }
    
    .sk-fading-circle .sk-circle8 {
        transform: rotate(210deg);
    }
    
    .sk-fading-circle .sk-circle9 {
        transform: rotate(240deg);
    }
    
    .sk-fading-circle .sk-circle10 {
        transform: rotate(270deg);
    }
    
    .sk-fading-circle .sk-circle11 {
        transform: rotate(300deg);
    }
    
    .sk-fading-circle .sk-circle12 {
        transform: rotate(330deg);
    }
    
    .sk-fading-circle .sk-circle2:before {
        animation-delay: -1.1s;
    }
    
    .sk-fading-circle .sk-circle3:before {
        animation-delay: -1s;
    }
    
    .sk-fading-circle .sk-circle4:before {
        animation-delay: -0.9s;
    }
    
    .sk-fading-circle .sk-circle5:before {
        animation-delay: -0.8s;
    }
    
    .sk-fading-circle .sk-circle6:before {
        animation-delay: -0.7s;
    }
    
    .sk-fading-circle .sk-circle7:before {
        animation-delay: -0.6s;
    }
    
    .sk-fading-circle .sk-circle8:before {
        animation-delay: -0.5s;
    }
    
    .sk-fading-circle .sk-circle9:before {
        animation-delay: -0.4s;
    }
    
    .sk-fading-circle .sk-circle10:before {
        animation-delay: -0.3s;
    }
    
    .sk-fading-circle .sk-circle11:before {
        animation-delay: -0.2s;
    }
    
    .sk-fading-circle .sk-circle12:before {
        animation-delay: -0.1s;
    }
    
    @keyframes sk-circleFadeDelay {
        0%,
        39%,
        100% {
            opacity: 0;
        }
        40% {
            opacity: 1;
        }
    }
    
    #splash-screen {
        width: 100%;
        height: 100%;
        z-index: 999;
        opacity: 1;
        // background-image: url('../assets/imgs/img.png');
        background-repeat: no-repeat;
        background-size: cover;
    }
    
    .splash {
        transition: opacity 0.2s;
        position: absolute;
        display: flex;
        align-items: center;
        justify-content: center;
    }
    
    .iitco {
        color: black;
    }
    
    .removeBorder {
        border-bottom: none;
        border-radius: 5px;
    }
    
    ion-item {
        padding: 0%;
        opacity: 1;
        animation-name: fadeInOpacity;
        animation-iteration-count: 1;
        animation-timing-function: ease-in;
        animation-duration: 1s;
        // @keyframes fadeInOpacity {
        //     0% {
        //         opacity: 0;
        //     }
        //     100% {
        //         opacity: 1;
        //     }
        // }
    }
    
    .ma {
        background-color: white;
    }
    
    p {
        color: black;
    }
    
    ion-item {
        box-shadow: none !important;
        border-radius: 5px;
    }
    
    .detail_prf .detail_header {
        font-size: 14px !important;
        color: #929292 !important;
        font-weight: 400 !important;
        line-height: 22px !important;
    }
    
    .detail_prf .card-content {
        font-size: 15px !important;
        color: #3a3a3a !important;
        font-weight: 500 !important;
        line-height: 22px !important;
    }
    
    ion-card {
        font-size: 0.9em;
        box-shadow: none !important;
        border-radius: 30px;
        border: 0px solid white;
    }
    
    .grow {
        color: black;
        font-size: 0.9em;
    }
    
    .grow:hover {
        -webkit-transform: scale(1.3);
        -ms-transform: scale(1.3);
        transform: scale(1.3);
    }
    
    .items {
        font-size: 18px;
        background-color: white;
        // background-color: #f4f4f4ad;
        color: black;
        font-weight: 300;
        font-family: regularQuicksand;
    }
    
    .me {
        font-size: 24px;
        font-weight: 400;
        color: black;
        font-family: regularQuicksand;
    }
    
    .head {
        font-size: 20px;
        font-weight: 300;
        color: black;
        font-family: regularQuicksand;
    }
    
    .mainstyle {
        font-size: 18px;
        // background-color: #f4f4f4ad;
        background-color: white;
        color: black;
        font-weight: 300;
        font-family: regularQuicksand;
    }
    
    .alert-checkbox-label,
    ion-label {
        white-space: normal !important;
    }
    
    ion-card-content {
        font-size: 18px;
        color: black;
        font-weight: 300;
        font-family: regularQuicksand;
    }
    
    ion-card-content-without-font-family {
        font-size: 18px;
        color: black;
        font-weight: 300;
    }
    
    .menuColor {
        color: white;
    }
    
    .item-md.item-input.input-has-focus .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    
    .list-md .item-input.input-has-focus:last-child {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    
    .list-md .item-input.input-has-focus:last-child .item-inner {
        box-shadow: none;
    }
    
    .item-md.item-input.ng-valid.input-has-value:not(.input-has-focus) .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    
    .list-md .item-input.ng-valid.input-has-value:not(.input-has-focus):last-child .item-inner {
        box-shadow: none;
    }
    
    .item-md.item-input.ng-invalid.ng-touched:not(.input-has-focus) .item-inner {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    
    .list-md .item-input.ng-invalid.ng-touched:not(.input-has-focus):last-child {
        border-bottom-color: transparent !important;
        box-shadow: none !important;
    }
    
    .image {
        border: 2px solid #fff;
        border-radius: 47% 47% 48% 48%;
        box-shadow: 0 0 5px gray;
        display: inline-block;
        height: 60px;
        width: 60px;
    }
    
    .prfile_slide .toolbar-background {
        border-color: #1587da;
        background: #1587da;
    }
    
    .prfile_slide .toolbar-title {
        color: #ffffff;
    }
    
    .prfile_bg {
        // background-image: url(../assets/imgs/bg_profile.jpg);
        height: 130px;
        background-size: cover;
        padding-top: 19px;
    }
    
    .prfile_slide .toolbar {
        padding: 0px !important;
        min-height: inherit !important;
    }
    
    .prfile_slide .toolbar-title {
        color: #fff;
        padding: 4px 10px;
        background: rgba(0, 0, 0, 0.1);
    }
    
    .prfile_bg img {
        margin-left: 10px;
    }
    
    .prfile_slide .item-icon {
        color: #5f5f5f;
        font-size: 24px;
        line-height: 46px;
        text-align: center;
        vertical-align: middle;
    }
    
    .prfile_slide .item-icon span {
        display: inline-block;
        vertical-align: initial;
        padding-left: 10px;
        vertical-align: middle;
        font-size: 16px;
    }
    
    .prfile_slide .label {
        margin: 0px;
        color: #757575;
    }
    
    .ion-footer {
        left: 0;
        bottom: 0;
        /* max-height: 85px; */
        font-size: 22px;
        position: absolute;
        z-index: 10;
        display: block;
        width: 100%;
    }
    
    .img {
        display: block;
        margin-left: auto;
        margin-right: auto;
        width: 32%;
        border-image: chocolate;
    }
    
    .card-content-md {
        padding: 13px 16px;
        font-size: 1.4rem;
        font-family: inherit;
        line-height: 1.5;
    }
    
    .prfile_slide .item-inner {
        border-bottom: 1px solid #f3f3f3 !important;
    }
    
    .text-wrap {
        white-space: normal !important;
        font-size: 23px;
        margin: auto;
        padding: 10px;
        width: 97%;
        margin-top: 38px;
        font-family: monospace;
    }
    
    .login-screen {
        padding: 5px;
        position: relative;
        width: 100%;
        margin: 0;
        margin-top: 101px;
        min-height: 1px;
        -webkit-flex-basis: 0;
        -ms-flex-preferred-size: 0;
        flex-basis: 0;
        -webkit-box-flex: 1;
        -webkit-flex-grow: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        max-width: 100%;
    }
    
    .alert-wrapper {
        z-index: 10;
        display: -webkit-box;
        display: -webkit-flex;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -webkit-flex-direction: column;
        -ms-flex-direction: column;
        flex-direction: column;
        min-width: 303px;
        font-size: large;
        font-family: unset;
        max-height: 90%;
        opacity: 0;
        contain: content;
    }
    
    .headerColor {
        background-color: #003366;
    }
    
    // .data_not_found {
    //   display: table;
    //   height: 100px;
    //   width: 100%;
    //   text-align: center;
    //   border: 2px dashed #f69c55;
    // }
    .alert-ios .alert-radio-label {
        white-space: pre-line;
    }
    
    .alert-ios .alert-radio-label {
        white-space: pre-line;
    }
    
    .alert-md .alert-radio-label {
        white-space: pre-line;
    }
    
    .alert-wp .alert-radio-label {
        white-space: pre-line;
    }
    
    .data_not_found {
        display: table;
        height: 100px;
        width: 100%;
        text-align: center;
        margin-top: 118px;
        border: 41px dash;
    }
    
    .data_not_found_text-span {
        display: table-cell;
        vertical-align: middle;
    }
    
    .page_setting .item {
        padding: 0px 6px;
    }
    
    .page_setting .set_designat {
        font-size: 14px;
    }
    .set_designat{
        padding-top: 0.8rem;
    }
    .page_setting .Imagetext {
        padding-top: 7px;
    }
    
    .page_setting .prfile_sync {
        border-color: #1587da;
        background: #1587da;
        color: #ffffff;
    }