<ion-item class="mainstyle">
  <ion-label color="light" color="dark">{{labelName}}</ion-label>
  <ion-input type="number" class="textBox" [(ngModel)]='value' (focusout)="onfocusOut()" (keypress)="_keyPress($event)"></ion-input>
</ion-item>