<ion-item class="mainstyle" (click)="pictureFromCamera($event)">
        <ion-label item-start color="light" class="textBoxLabel" color="dark">{{labelName}}</ion-label>
        <span item-end>
            {{loading}}
        </span>

        <ion-icon item-end *ngIf="!value && !loading" name="image"></ion-icon>
        <div *ngIf="offline !=true">
        <img [src]='getImage'  *ngIf="value && !loading" item-end  height="100"
            width="100" />
        </div>
        <img [src]='imageString'  *ngIf="offline" item-end  height="100"
            width="100" />
    </ion-item>