.welcome-card ion-img {
    max-height: 35vh;
    overflow: hidden;
}

.myText {
    text-transform: capitalize;
}

.formHeader {
    color: #ffffff;
    text-transform: capitalize;
}

.formButton {
    background-color: white;
    margin: 1%;
    padding: 4%;
    border-radius: 2%;
    color: #000000;
}

.forms {
    background-color: #336699;
    opacity: 0.9;
}

.icons {
    font-size: 20px;
}

.card-header {
    background-color: #FFB6C1;
}

.dateColor {
    background-color: blue;
}

.datepicker-input {
    direction: ltr;
    .dropdown-menu {
        direction: ltr;
        * {
            direction: ltr;
        }
    }
}