<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>Home Page</ion-title>
    </ion-toolbar>
</ion-header>







<ion-content padding>

    <ion-grid class="forms">
        <ion-row>
            <ion-col col-12 text-center class='formHeader'>
                <span>
          TARA
        </span>
            </ion-col>
        </ion-row>
        <div class="col-4">

        </div>

        <ion-row>
            <ion-col text-center class="formButton" (click)="addEntry();">
                <span>
          Add Entry
        </span>
                <ion-icon float-right class="icons" name="add-circle"></ion-icon>
            </ion-col>
            <ion-col text-center class="formButton" (click)="viewEntry();">
                <span>
          Review Entry
        </span>
                <ion-icon float-right class="icons" name="list-box"></ion-icon>

            </ion-col>

        </ion-row>





    </ion-grid>
    <br>
    <br>
    <br>
    <br>

    <br>
    <br>

    <ion-grid>
        <ion-row class="hai sync" [style.padding-left]="'5%'" text-wrap>
            <span class="syncIn"> No. of pending cases to upload : </span>

            <b class="syncIn">{{pendingCount}}</b>
        </ion-row>
        <ion-row class="hai sync" [style.padding-left]="'5%'" text-wrap>
            <span class="syncIn">Internet status : </span>
            <div [ngStyle]="{ 'color': internetStatus==='online'? 'green':'red' }">
                <b class="syncIn"> {{internetStatus}}</b>
            </div>

        </ion-row>

    </ion-grid>
</ion-content>
<ion-footer style="background:#003366;color: white">

    <ion-grid>

        <ion-row>

            <ion-col *ngIf="local" text-center>{{local.profiledetails.name}}</ion-col>

        </ion-row>

    </ion-grid>

</ion-footer>