<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Accident Details
        </ion-title>
    </ion-toolbar>
</ion-header>

<ion-content>

    <app-stringelement (returnValue)="schemaObject.acciDent.page1.investigatingOfficer=$event" [bindValue]="schemaObject.acciDent.page1.investigatingOfficer" [labelName]='"Investigating Officer *"'>
    </app-stringelement>
    <app-stringelement (returnValue)="schemaObject.acciDent.page1.firNmber=$event" [bindValue]="schemaObject.acciDent.page1.firNmber" [labelName]='"FIR Number"'></app-stringelement>
    <anyone-c (returnValue)="schemaObject.acciDent.page1.accidentSeverity=$event " [bindValue]="schemaObject.acciDent.page1.accidentSeverity " [labelName]='"Accident Severity"' [options]='accidentSeverity'></anyone-c>
    <app-datetime (returnValue)="schemaObject.acciDent.page1.accidentDate=$event" [bindValue]="schemaObject.acciDent.page1.accidentDate" [labelName]='"Accident Date and Time *"'></app-datetime>
    <location-c (returnValue)="schemaObject.acciDent.page1.location=$event" [bindValue]="schemaObject.acciDent.page1.location" [labelName]='"Accident Location"'></location-c>
    <video-c (returnValue)="schemaObject.acciDent.page8.videoRecord1=$event" [bindValue]="schemaObject.acciDent.page8.videoRecord1" [labelName]='"Vehicle video record"'></video-c>
    <video-c (returnValue)="schemaObject.acciDent.page8.videoRecord2=$event" [bindValue]="schemaObject.acciDent.page8.videoRecord2" [labelName]='"Road video record"'></video-c>
    <video-c (returnValue)="schemaObject.acciDent.page8.videoRecord3=$event" [bindValue]="schemaObject.acciDent.page8.videoRecord3" [labelName]='" Other video record"'></video-c>
    <app-numberelement (returnValue)="schemaObject.acciDent.page1.numberofVehiclesInCollision=$event" [bindValue]="schemaObject.acciDent.page1.numberofVehiclesInCollision" [labelName]='"Number of Vehicles in Collision"'></app-numberelement>
    <app-numberelement (returnValue)="schemaObject.acciDent.page1.peopleInjured=$event" [bindValue]="schemaObject.acciDent.page1.peopleInjured" [labelName]='"Number of people injured"'></app-numberelement>
    <app-numberelement (returnValue)="schemaObject.acciDent.page1.peopleDied=$event" [bindValue]="schemaObject.acciDent.page1.peopleDied" [labelName]='"Number of people died"'></app-numberelement>
    <app-numberelement (returnValue)="schemaObject.acciDent.page1.driversInvolved=$event" [bindValue]="schemaObject.acciDent.page1.driversInvolved" [labelName]='"Number of drivers involved"'></app-numberelement>
    <app-numberelement (returnValue)="schemaObject.acciDent.page1.passangersInvolved=$event" [bindValue]="schemaObject.acciDent.page1.passangersInvolved" [labelName]='"Number of passangers involved"'></app-numberelement>
    <app-numberelement (returnValue)="schemaObject.acciDent.page1.pedestrainsInvolved=$event" [bindValue]="schemaObject.acciDent.page1.pedestrainsInvolved" [labelName]='"Number of pedestrains involved"'></app-numberelement>

</ion-content>



<ion-footer >

    <ion-grid>

        <ion-row>
            <ion-col align="center" size="4">
                <button ion-button class="btm_btn" block (click)="left()">
                <ion-icon slot="start" name="ios-arrow-back"></ion-icon> Back
            </button>
            </ion-col>
            <ion-col align="center" size="4">
                <button ion-button class="btm_btn" block (click)="submit()">{{textString}}</button>
            </ion-col>
            <ion-col align="center" size="4">
                <button ion-button class="btm_btn" block (click)="right()">Next <ion-icon slot="end" name="ios-arrow-forward">
                </ion-icon></button>
            </ion-col>
        </ion-row>

    </ion-grid>

</ion-footer>