<ion-header>
    <ion-toolbar color="primary">
        <ion-buttons slot="start">
            <ion-menu-button></ion-menu-button>
        </ion-buttons>
        <ion-title>
            Images
        </ion-title>
    </ion-toolbar>
</ion-header>

<!-- <div *ngIf="networkStatus === 'offline'">
<ion-content>
    <ion-list>
        <image-c (Util.EVEN_EMITTER_IMAGE_FOR_IMAGE_PATH_EMIT_KEY)="schemaObject.offlineImage.mainResting=$event"[labelName]='"Main resting place of vehicles"'></image-c>
        <image-c (Util.EVEN_EMITTER_IMAGE_FOR_IMAGE_PATH_EMIT_KEY)="schemaObject.offlineImage.obstructions=$event"  [labelName]='"Obstructions or objects on road"'></image-c>
        <image-c (Util.EVEN_EMITTER_IMAGE_FOR_IMAGE_PATH_EMIT_KEY)="schemaObject.offlineImage.junction=$event"  [labelName]='"Junction/ Road Type"'></image-c>
        <image-c (Util.EVEN_EMITTER_IMAGE_FOR_IMAGE_PATH_EMIT_KEY)="schemaObject.offlineImage.roadSurface=$event"  [labelName]='"Road Surface"'></image-c>
        <image-c (Util.EVEN_EMITTER_IMAGE_FOR_IMAGE_PATH_EMIT_KEY)="schemaObject.offlineImage.skidMarks=$event" [labelName]='"Skid Marks"'></image-c>
        <image-c (Util.EVEN_EMITTER_IMAGE_FOR_IMAGE_PATH_EMIT_KEY)="schemaObject.offlineImage.damegeVechile=$event"  [labelName]='"Damage to vehicle/ property"'></image-c>
        <image-c (Util.EVEN_EMITTER_IMAGE_FOR_IMAGE_PATH_EMIT_KEY)="schemaObject.offlineImage.featureMight=$event" [labelName]='"Any feature which might have contributed to the accident"'></image-c>
        <image-c (Util.EVEN_EMITTER_IMAGE_FOR_IMAGE_PATH_EMIT_KEY)="schemaObject.offlineImage.surroundings=$event"  [labelName]='"Surroundings"'></image-c>
    </ion-list>

</ion-content>
</div> -->
<ion-content>
    <ion-list>
        <image-c (returnValue)="schemaObject.acciDent.page6.mainResting=$event" [bindValue]="schemaObject.acciDent.page6.mainResting" [labelName]='"Main resting place of vehicles"'></image-c>
        <image-c (returnValue)="schemaObject.acciDent.page6.obstructions=$event" [bindValue]="schemaObject.acciDent.page6.obstructions" [labelName]='"Obstructions or objects on road"'></image-c>
        <image-c (returnValue)="schemaObject.acciDent.page6.junction=$event" [bindValue]="schemaObject.acciDent.page6.junction" [labelName]='"Junction/ Road Type"'></image-c>
        <image-c (returnValue)="schemaObject.acciDent.page6.roadSurface=$event" [bindValue]="schemaObject.acciDent.page6.roadSurface" [labelName]='"Road Surface"'></image-c>
        <image-c (returnValue)="schemaObject.acciDent.page6.skidMarks=$event" [bindValue]="schemaObject.acciDent.page6.skidMarks" [labelName]='"Skid Marks"'></image-c>
        <image-c (returnValue)="schemaObject.acciDent.page6.damegeVechile=$event" [bindValue]="schemaObject.acciDent.page6.damegeVechile" [labelName]='"Damage to vehicle/ property"'></image-c>
        <image-c (returnValue)="schemaObject.acciDent.page6.featureMight=$event" [bindValue]="schemaObject.acciDent.page6.featureMight" [labelName]='"Any feature which might have contributed to the accident"'></image-c>
        <image-c (returnValue)="schemaObject.acciDent.page6.surroundings=$event" [bindValue]="schemaObject.acciDent.page6.surroundings" [labelName]='"Surroundings"'></image-c>
    </ion-list>

</ion-content>
<ion-footer>

    <ion-grid>


        <ion-grid>

            <ion-row>
                <ion-col align="center">
                    <button ion-button class="btm_btn" block (click)="left()">
                <ion-icon slot="start" name="ios-arrow-back"></ion-icon> Back
            </button>
                </ion-col>
                <ion-col align="center">
                    <button ion-button class="btm_btn" block (click)="submit()">{{textString}}</button>
                </ion-col>

            </ion-row>

        </ion-grid>
</ion-grid>


</ion-footer>