
<ion-item class="mainstyle">
  
    <ion-label color="light" color="dark">{{labelName}}</ion-label>
  
    <ion-select [(ngModel)]="value" (ngModelChange)="onChangeObj($event)" multiple="true">
            <div class ='alert-wrapper '>
        <ion-select-option *ngFor="let x of values" [value]="x">{{x}} ></ion-select-option>
    </div>
    </ion-select>
 
</ion-item>
